div#board
    each card, i in dealt
        div(class="card" id=i)
            div(class="card-content")
                p= card.number
                p= card.color
                p= card.fill
                p= card.shape
